// Here you can add other styles

.alignText {
    margin-left: 25px;
}

.display-5 {
    font-size: 2rem;
    font-weight: 200;
    line-height: 1.0;
  }
.boxs {
    background-color: #4dbd74;
    border-color: #4dbd74;
}
.bottom-border{
    margin: 25px 0;
    height: 1px;
    border: 0;
    background: black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, black));
}
.btn-outline-white {
    color: #fcfcfc;
    border-color: #ffffff;
}
.alert-warns {
    color: #856404;
    background-color: #ffc107;
    border-color: #ffc107;
}
.img-avaa {
    width: 100%;
    height: auto;
    margin-left: 1em;
    border-radius: 50%;
}
@media only screen and (max-width: 720px) {
    .img-avaa {
        width: 40%;
        height: auto;
        margin-left: 1em;
        border-radius: 50%;
    }
  }