html body .app.flex-row.align-items-center {
  height: 100vh;
}

// ie11 floating footer temp fix, react only
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  #root {
    display: flex;
    flex-direction: column;
  }
  .IE-margin-top {
    margin-top: 50vh !important;
  }

  .ReactTable {
    // -ms-overflow-style: -ms-autohiding-scrollbar;
    // -ms-overflow-style: scrollbar;
    // -ms-overflow-style: none;
    // overflow-y: auto;
  }
  
  .ReactTable .rt-th, .ReactTable .rt-td {
    white-space: unset;
}
  
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (max-height: 500px) {
  .IE-margin-top {
    margin-top: 35vh !important;
  }
}
